<!doctype html>
<html lang="en">
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-3.3.7-dist/css/bootstrap.css">
  </head>
  <body>
    <div class="conainer-fluid">
      <h1>CO<sub>2</sub> Concentration and Temperature Graphs </h1>
      <img src="{{ CO2_file_path }}?id={{ time }}" alt="CO2 Concentration">
      <img src="{{ temperature_file_path }}?id=?{{ time }}" alt="Atmospheric temperature">

      <form action="/ParametersChanged" method="POST">

        <div class="col-md-4">
          <h2>Change parameters</h2>
          <p>
            <a href="/CO2_by_country">Or instead go to CO<sub>2</sub> per capita for different countries plot</a>
          </p>
          Time to plot from:
          <input type="number" name="time_from" value="1825">
          <input type="number" name="time_to">
          <br />

          Y-axis range for temperature graph:
          <input type="number" name="yaxis_min_CO2">
          <input type="number" name="yaxis_max_CO2">
          <br />

          Y-axis range for CO<sub>2</sub> graph:
          <input type="number" name="yaxis_min_temperature">
          <input type="number" name="yaxis_max_temperature">
          <br />

          Specify how many years you want to predict into the future (only for temperature):
          <input type="number" name="years_to_predict" value="0">
          <br />

          Months to plot temperature from: <br />
          <input type="checkbox" name="jan" value="1" checked> January&nbsp;
          <input type="checkbox" name="feb" value="2" > February&nbsp;
          <input type="checkbox" name="mar" value="3" > March&nbsp;
          <input type="checkbox" name="apr" value="4" > April&nbsp;
          <input type="checkbox" name="may" value="5" > May&nbsp;
          <input type="checkbox" name="jun" value="6" > June&nbsp;
          <input type="checkbox" name="jul" value="7" > July&nbsp;
          <br />
          <input type="checkbox" name="aug" value="8" > August&nbsp;
          <input type="checkbox" name="sep" value="9" > September&nbsp;
          <input type="checkbox" name="oct" value="10" > October&nbsp;
          <input type="checkbox" name="nov" value="11" > November&nbsp;
          <input type="checkbox" name="dec" value="12" > December
          <br />
          <input type="submit" value="Update graphs" class="btn btn-primary btn-lg" style="margin-top:10px">
          <br />

        </div>
    </div>
    </form>
    <footer style="position:fixed; bottom:0px; margin:auto; text-align: center; left: 0; right: 0;">
      <a href="/help">Need help or documentation?</a>
    </footer>
  <body>
</html>
